body {
    background-color: black!important;
    font-family: "Lucida Console", Monaco, monospace!important;
    /* padding: 70px 0;
    font: 15px/20px Arial, sans-serif; */
}

.content {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.flip {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    /* line-height: 200px; */
    /* font-size: 5em; */
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
}
.b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}
.c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
}
.d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
}
.e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
} 
.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}

.next, .prev {
    border: 2px solid rgba(255, 0, 0, 1);
    border-radius: 0px;
    padding: 10px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgba(255, 0, 0, 1);
    -webkit-transition: ease-out 0.4s!important;
    -moz-transition: ease-out 0.4s!important;
    transition: ease-out 0.4s!important;
    float: right;
    position: absolute;
    /* color: #444;
    position: absolute;
    /* bottom: 5px; */
    padding: 1em 2em;
    cursor: pointer;
    background: black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgba(255, 0, 0, 1);
    /* box-shadow: 0 5px 0 #999;  */
    transition: box-shadow 0.1s, top 0.1s;
    margin-left: 20%;
    margin-right: 20%;
    color: white; 
}
.next:hover, .prev:hover { 
    box-shadow: inset 400px 0 0 0 rgba(255, 0, 0, 1); 
}

.next { right: 5em; }
.prev { left: 5em; }


/* canvas 3D */
body {background-color:#000000; color:#555555;} 
h4 {font-family: sans-serif; color:#555555; font-size:16px;}
h3 {font-family: sans-serif; color:#555555;}
p {font-family: sans-serif; color:#888888; font-size:14px;}
a {font-family: sans-serif; color:#d15423; text-decoration:none;}

.slider{
  width:500px;
  background: rgba(0,90,50,0.7);
}
#canvasOne {
    width: 100%;
    height: 105vh;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}
.nav-item > .nav-link, a.navbar-brand.pl-3 {
    color: white!important;
}
a.nav-link{
    font-family: "Lucida Console", Monaco, monospace!important;
}
ul.navbar-nav.mr-auto{
    padding-left: 5%;
}

.title_itema, .title_itemb, .title_itemc, .title_itemd, .title_iteme, .title_itemf {
    font-size: 20px;
}

span.navbar-toggler-icon{
    background-image : url('../img/button.png')!important;
}

@media (min-width: 300px) and (max-width: 767.98px) { 
    /* .item {
        width: 220px!important;
        height: 220px!important;
    } */
    .next, .prev{
        visibility: hidden;
    }
    body, html {
        overflow-x: hidden; 
    }
    .LI-profile-badge{
        visibility: hidden;
    }
}
/* 
@media (min-width: 576px) and (max-width: 767.98px) { 
    .item {
        width: 224px!important;
        height: 210px!important;
    }
}*/

@media (min-width: 768px) and (max-width: 991.98px) { 
    .item {
        width: 280px;
        height: 300px;
    }
}
@media (min-width: 1290px) { 
    .item {
        width: 280px;
        height: 300px;
    }
}